Debug
Release
*.opensdf
*.sdf
*.suo
*.filters
*.user
*.dll
*.exe
*.mexw64
*.aps

.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

resources/settings/default.vrsettings
