<div class="modal" id="addClientModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <div>
                    <h4 class="modal-title"><%= addClient%></h4>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div id="addClientMain" class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="deviceName"><%= deviceName%>:</label>
                        <input class="form-control" type="text" id="deviceName" value="Oculus Quest 2"></input>
                        <small id="deviceNameHelp" class="form-text text-muted"><%= deviceNameHelp%></small>
                    </div>
                    <div class="form-group">
                        <label for="clientHostname"><%= clientHostname%>:</label>
                        <input class="form-control" type="text" id="clientHostname" value="x.client.alvr"></input>
                        <small id="clientHostnameHelp" class="form-text text-muted"><%= clientHostnameHelp%></small>
                    </div>
                    <div class="form-group">
                        <label for="clientIP"><%= ipAddress%>:</label>
                        <input class="form-control" type="text" id="clientIP" value="192.168.1.222"></input>
                        <small id="emailHelp" class="form-text text-muted"><%= ipHelp%></small>
                    </div>
                </form>

            </div>

            <div class="modal-footer">
                <button id="clientAddButton" type="button" class="btn btn-primary"><%= addClientButton%></button>
            </div>
        </div>
    </div>
</div>