<div class="row contentHeight">
    <div class="cm-md-1 contentHeight" id="monitorContainer">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#connection" id="connectionTab"><%= connection%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#statistics" id="statisticsTab"><%= statistics%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#performanceGraphs" id="performanceGraphsTab"><%= performanceGraphs%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#logging" id="loggingTab"><%= logging%></a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane container active noselect" id="connection">
                <div class="newClientsList" id="newClientsDiv">
                    <div class="card" id="connectionCard">
                        <div class="card-header"><%= newClients%></div>
                        <div class="card-body">
                            <div>
                            <table style="width:100%;">
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trustedClientsList" id="trustedClientsDiv">
                    <div class="card" id="connectionCard">
                        <div class="card-header"><%= trustedClients%></div>
                        <div class="card-body">
                            <div>
                            <table style="width:100%;">
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addClientButtonDiv">
                    <button type="button" class="btn btn-primary" id="showAddClientModal"><%= manAddClient%></button>
                </div>
                <div id="troubleShootingDiv"><%= troubleshooting%></div>
            </div>
            <div class="tab-pane container fade" id="statistics">
                <div id="divStatisticsContent">
                    <div class="card" id="statisticsCard">
                        <div class="card-header"><%= streamingStatistics%></div>
                        <div class="card-body">
                            <table id="statisticsTable">
                                <tr>
                                    <td><%= totalPackets%>:</td>
                                    <td><div id="statistic_totalPackets" >0</div> <%= packets%></td>
                                </tr>
                                <tr>
                                    <td><%= packetRate%>:</td>
                                    <td><div id="statistic_packetRate" >0</div> <%= packetss%></td>
                                </tr>
                                <tr>
                                    <td><%= packetsLostTotal%>:</td>
                                    <td><div id="statistic_packetsLostTotal" >0</div> <%= packets%></td>
                                </tr>
                                <tr>
                                    <td><%= packetsLostPerSecond%>:</td>
                                    <td><div id="statistic_packetsLostPerSecond">0</div> <%= packetss%></td>
                                </tr>
                                <tr>
                                    <td><%= totalSent%>:</td>
                                    <td><div id="statistic_totalSent">0</div> MB</td>
                                </tr>
                                <tr>
                                    <td><%= sentRate%>:</td>
                                    <td><div id="statistic_sentRate">0</div> Mbps</td>
                                </tr>
                                <tr>
                                    <td><%= totalLatency%>:</td>
                                    <td><div id="statistic_total">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= encodeLatency%>:</td>
                                    <td><div id="statistic_encode">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= transportLatency%>:</td>
                                    <td><div id="statistic_send">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= decodeLatency%>:</td>
                                    <td><div id="statistic_decode">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= fecPercentage%>:</td>
                                    <td><div id="statistic_fecPercentage">0</div> %</td>
                                </tr>
                                <tr>
                                    <td><%= fecFailureTotal%>:</td>
                                    <td><div id="statistic_fecFailureTotal">0</div> <%= packets%></td>
                                </tr>
                                <tr>
                                    <td><%= fecFailureInSecond%>:</td>
                                    <td><div id="statistic_fecFailureInSecond">0</div> <%= packetss%></td>
                                </tr>
                                <tr>
                                    <td><%= clientFPS%>:</td>
                                    <td><div id="statistic_clientFPS">0</div> fps</td>
                                </tr>
                                <tr>
                                    <td><%= serverFPS%>:</td>
                                    <td><div id="statistic_serverFPS">0</div> fps</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container fade" id="performanceGraphs">
                <div id="divPerformanceGraphsContent">
                    <h5 class="float-left mr-3"><%= performanceLatency%></h5>
                    <span class="badge badge-primary" style="background-color: #1f77b4; "><%= performanceEncode%></span>
                    <span class="badge badge-primary" style="background-color: #ff7f0e; "><%= performanceDecode%></span>
                    <span class="badge badge-primary" style="background-color: #2ca02c; "><%= performanceTransport%></span>
                    <span class="badge badge-primary" style="background-color: #d62728; "><%= performanceOther%></span>
                    <div id="latencyGraphArea" style="width: 520px; height: 220px"></div>
                    <div class="mt-3"></div>
                    <h5 class="float-left mr-3"><%= performanceFramerate%></h5>
                    <span class="badge badge-primary" style="background-color: #1f77b4; "><%= serverFPS%></span>
                    <span class="badge badge-primary" style="background-color: #ff7f0e; "><%= clientFPS%></span>
                    <div id="framerateGraphArea" style="width: 520px; height: 180px"></div>
                </div>
            </div>
            <div class="tab-pane container fade" id="logging">
                <table id="loggingTable">
                </table>
            </div>
        </div>
    </div>
</div>
