<div class="modal fade" id="setupWizard">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div>
                    <h4 class="modal-title"><%= title %></h4>
                    <%= subtitle %>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div id="wizardMain" class="modal-body">
                <div class="wizardContent">
                    <div>
                        <h6><%= titleHardwareReq %></h6>
                        <%= textHardwareReq %>
                        <p><%= YourGPUIs %> <span id="GPU"></span></p>
                        <p id="GPUSupportText" style="white-space: pre-wrap"></p>
                    </div>
                </div>
                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6><%= titleSoftwareReq %></h6>
                        <%= textSoftwareReq %>
                    </div>
                </div>
                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6><%= titleFirewall %></h6>
                        <%= textFirewall %>
                    </div>
                    <div class="wizzardSettings">
                        <button id="addFirewall" type="button" class="btn btn-primary"><%= buttonFirewall %></button>
                    </div>
                </div>
                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6><%= titleTracking %></h6>
                        <%= textTracking %>
                    </div>
                    <div class="wizzardSettings">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="radio" name="tracking" class="poseOffsetButton" autocomplete="off" value="oculus">
                                <%= oculusTracking %>
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="tracking" class="poseOffsetButton" autocomplete="off" value="steamvr">
                                <%= steamvrTracking %>
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="tracking" class="poseOffsetButton" autocomplete="off" value="normal">
                                <%= normalTracking %>
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="tracking" class="poseOffsetButton" autocomplete="off" value="medium">
                                <%= mediumTracking %>
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="tracking" class="poseOffsetButton" autocomplete="off" value="fast">
                                <%= fastTracking %>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6><%= titlePerformance %></h6>
                        <%= textPerformance %>
                    </div>
                    <div class="wizzardSettings">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary">
                                <input type="radio" name="performance" class="performanceOptions" autocomplete="off" value="compatibility">
                                <%= compatPerformance %>
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="performance" class="performanceOptions" autocomplete="off"
                                    value="visual_quality">
                                <%= qualityPerformance %>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6><%= titleImport %></h6>
                        <%= textImport %>
                    </div>
                    <div id="importPlaceholder" class="wizzardSettings">
   
                    </div>
                </div>

                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6><%= titleFinished %></h6>
                        <%= textFinished %>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="wizardBackButton" type="button" class="btn btn-primary"><%= buttonBack %></button>
                <button id="wizardNextButton" type="button" class="btn btn-primary"><%= buttonNext %></button>
            </div>

        </div>
    </div>
</div>

</div>