[package]
name = "alvr_client"
version = "13.0.0"
authors = ["Riccardo Zaglia <riccardo.zaglia5@gmail.com>"]
license = "MIT"
edition = "2018"

[lib]
crate_type = ["staticlib", "cdylib"]

[dependencies]
# parking_lot = "0.11"
# lazy_static = "1"
log = "0.4"
# nalgebra = "0.23"
# serde_json = "1"
# settings-schema = { git = "https://github.com/zarik5/settings-schema-rs" }
alvr_common = { path = "../common" }
# futures = "0.3"
# tokio = { version = "0.2", features = ["rt-threaded"] }

# todo: move to target_os = "android"
jni = "0.18"

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.9"

[build-dependencies]
walkdir = "2"
cc = { version = "1", features = ["parallel"] }
bindgen = "0.56"
