<div class="driverList" id="driverList_<%= id %>">
    <div class="card driverCard">
        <div class="card-header" id="driverListHeader_<%= id %>"></div>
        <div class="card-body">
            <div>
            <table style="width:100%;margin-top: 10px;">
            </table>
            </div>

        </div>
    </div>
</div>
<div class="installDriverDiv">
    <button type="button" class="registerAlvrDriver btn btn-primary"> <%= registerAlvrDriver%></button>
</div>
<p> <%= driverNotice%> </p>