<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#connection"><%= connection%></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#logging"><%= logging%></a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane container active noselect" id="connection">
        <div class="card">
            <div class="card-header"><%= clients%></div>
            <div class="card-body">
                <h5><%= newClients%>:</h5>
                <div class="clientList" id="newClientsDiv">

                </div>
                <h5><%= trustedClients%>:</h5>
                <div class="clientList" id="trustedClientsDiv">

                </div>

                <button type="button" class="btn btn-primary" id="showAddClientModal"><%= manAddClient%></button>
            </div>
        </div>
        <div class="card">
            <div class="card-header"><%= statistics%></div>
            <div class="card-body">
                <table id="statisticsTable">
                    <tr>
                        <td><%= totalPackets%>:</td>
                        <td>0</td>
                        <td><%= packetRate%>:</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td><%= encoderLatency%>:</td>
                        <td>9ms</td>
                        <td><%= decoderLatency%>:</td>
                        <td>14ms</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane container fade" id="logging">
        <table id="loggingTable">
        </table>
    </div>
</div>