.wizardContent {
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

.btn-group label input {
    display: none;
}

.wizzardSettings {   
 
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;

}