<!-- The Modal -->
<div class="modal" id="setupWizard">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <div>
                    <h4 class="modal-title">Welcome to ALVR</h4>
                    This wizard will guide you to the basic setup of ALVR
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div id="wizardMain" class="modal-body">
                <div class="wizardContent">
                    <div>
                        <h6>Firewall</h6>
                        To communicate with the headset, some firewall rules need to be set.
                        This requires administrator rights.
                    </div>
                    <div class="wizzardSettings">
                        <button id="addFirewall" type="button" class="btn btn-primary">Add firewall rules</button>
                    </div>
                </div>
                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6>Driver</h6>
                        The ALVR driver needs to be registred with SteamVR
                    </div>
                    <div class="wizzardSettings">
                        <button id="installDriver" type="button" class="btn btn-primary">Register driver</button>
                    </div>
                </div>
                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6>Tracking</h6>
                        How should the tracking of the controller be handled.
                        f you plan on playing fast pased games like Beatsaber, choose medium or fast. For slower games
                        like
                        Skyrim leave it on normal.
                    </div>
                    <div class="wizzardSettings">
                        <div id="poseOffsetGroup" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="poseOffset" class="poseOffsetButton" value="normal"
                                    autocomplete="off" checked> normal
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="poseOffset" class="poseOffsetButton" autocomplete="off"
                                    value="medium"> medium </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="poseOffset" class="poseOffsetButton" autocomplete="off"
                                    value="fast"> fast </label>
                        </div>
                    </div>
                </div>

                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6>Performance preset</h6>
                        Please choose preset that fits your setup. This will adjust some settings for you.
                    </div>
                    <div class="wizzardSettings">
                        <div id="poseOffsetGroup" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="performanceOptions" class="performaceOffsetButton"
                                    autocomplete="off" checked value="compatibility"> compatibility
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="performanceOptions" class="performaceOffsetButton"
                                    autocomplete="off" value="performance"> performance </label>
                        </div>
                    </div>
                </div>

                <div class="wizardContent" style="display: none;">
                    <div>
                        <h6>Finished</h6>
                        You can always restart this wizard from the ALVR-tab on the left
                    </div>
                </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="wizardNextButton" type="button" class="btn btn-info">Next</button>
            </div>

        </div>
    </div>
</div>

</div>