.wizardContent {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    max-height: 20vh;
    
}

.btn-group label input {
    display: none;
}

.wizzardSettings {   
 
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
   

}

#installDriver {
    margin-top: 10px;
    margin-bottom: 10px;
}