.wizardContent {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow: hidden;
    
}

.btn-group label input {
    display: none;
}

.wizzardSettings {   
 
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;

}

#installDriver {
    margin-top: 10px;
    margin-bottom: 10px;
}

.installDriverDiv, .registeredDriversInst {
    flex-grow: 0;
}

.driverList {
    flex: 1;
    display: flex;
}


.driverList * .card-body{
    overflow: auto;
}


#driverListPlaceholder {
    overflow: hidden;
    display: flex;
}

