<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
    xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle 
        AboutUrl="https://alvr-org.github.io"
        DisableModify="yes"
        Name="ALVR"
        UpgradeCode="12B1A95C-FC71-4E53-AC1C-A695D891F1EB"
        Version="!(bind.packageVersion.alvrInstaller)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense">
            <bal:WixStandardBootstrapperApplication
                LicenseUrl="https://github.com/alvr-org/ALVR/blob/master/LICENSE"
                ShowVersion="yes"
                SuppressOptionsUI="yes"
                LogoSideFile="alvr\xtask\wix\bundle_sidebar.png"
                LogoFile="alvr\xtask\wix\bundle_logo.png"
                />
        </BootstrapperApplicationRef>

        <Chain>
            <MsiPackage
                SourceFile="build\alvr_streamer_windows.msi"
                Id="alvrInstaller"
                Compressed="yes"
                DisplayInternalUI="yes"
                ForcePerMachine="yes"/>
        </Chain>
    </Bundle>
</Wix>