<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product
        Id="*"
        Name="ALVR"
        UpgradeCode="DBB5E47A-11A3-4A11-AF7E-4711EEBD2AF5"
        Manufacturer="alvr-org"
        Language="1033"
        Version="$(var.Version)">

        <Package Id="*"
            Keywords="Installer"
            Manufacturer="alvr-org"
            InstallerVersion="500"
            Languages="1033"
            Compressed="yes"
            InstallScope="perMachine"/>

        <MajorUpgrade
            Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."/>
        <!-- Used for detecting InstallDir of previous installation. -->
        <Upgrade Id="DBB5E47A-11A3-4A11-AF7E-4711EEBD2AF5">
            <UpgradeVersion
                Minimum="13.5.0"
                Maximum="$(var.Version)"
                Property="OLDERVERSIONBEINGUPGRADED"/>
        </Upgrade>

        <MediaTemplate EmbedCab="yes"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONFOLDER" Name="ALVR"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="ALVR"/>
            </Directory>
            <Directory Id="DesktopFolder"/>
        </Directory>

        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="LicenseAndPermissions" Guid="*">
                <File Id="LicenseFile" 
                  Name="LICENSE"
                  Source="LICENSE"
                  KeyPath="yes"/>
                <CreateFolder>
                    <util:PermissionEx User="Users" GenericAll="yes"/>
                </CreateFolder>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <!-- The Target attribute below points to a component in the generated .wxs file,   -->
                <!-- but the ID will not change if the file path it points to doesn"t change.       -->
                <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="ALVR" 
                  Target="[#filFA06ADD296517EF1582567DBAEADED88]"
                  WorkingDirectory="APPLICATIONFOLDER"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\alvr-org\ALVR" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="DesktopFolder">
            <Component Id="ApplicationDesktop" Guid="*">
                <!-- The Target attribute below points to a component in the generated .wxs file,   -->
                <!-- but the ID will not change if the file path it points to doesn"t change.       -->
                <Shortcut Id="ApplicationDesktopShortcut" 
                  Name="ALVR" 
                  Target="[#filFA06ADD296517EF1582567DBAEADED88]"
                  WorkingDirectory="APPLICATIONFOLDER"/>
                <RegistryValue Root="HKCU" Key="Software\alvr-org\ALVR" Name="desktop" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <Feature
            Id="MainProduct"
            Title="Application"
            ConfigurableDirectory="APPLICATIONFOLDER"
            Absent="disallow">
            <ComponentRef Id="LicenseAndPermissions"/>
            <ComponentGroupRef Id="BuildFiles"/>
            <ComponentRef Id="ApplicationShortcut"/>
            <ComponentRef Id="ApplicationDesktop"/>
        </Feature>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize"/>

        <Icon Id="ProductICO" SourceFile="alvr\dashboard\resources\dashboard.ico"/>
        <Property Id="ARPPRODUCTICON" Value="ProductICO"/>

        <Property Id="ARPHELPLINK" Value="https://alvr-org.github.io"/>
        
        <Property Id="APPLICATIONFOLDER">
          <RegistrySearch Id="InstallDir" Root="HKLM"
            Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[OLDERVERSIONBEINGUPGRADED]"
            Name="InstallLocation" Type="raw"/>
        </Property>
        
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch ALVR"/>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1"/>
        <Property Id="WixShellExecTarget" Value="[#fil962077914FC1B9B593E440F4A22CAF0C]"/>
        <CustomAction Id="LaunchApplication"
            BinaryKey="WixCA"
            DllEntry="WixShellExec"
            Impersonate="yes"/>

        <InstallExecuteSequence>
            <!-- This action will only run during silent install. UI install depends on the checkbox being set below. -->
            <Custom Action="LaunchApplication" After="InstallFinalize"><![CDATA[UILevel <= 3 and NOT Installed]]></Custom>
        </InstallExecuteSequence>

        <UI>
            <UIRef Id="WixUI_FeatureTree"/>
            
            <!-- Skip license screen for now -->
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="99">1</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="99">1</Publish>
            <Publish Dialog="ExitDialog" 
                Control="Finish"
                Event="DoAction" 
                Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
            </Publish>
        </UI>
        
        <WixVariable Id="WixUIBannerBmp" Value="alvr\xtask\wix\installer_banner.bmp"/>
        <WixVariable Id="WixUIDialogBmp" Value="alvr\xtask\wix\installer_dialog.bmp"/>
    </Product>
</Wix>
