<?xml version='1.0' encoding='utf-8'?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'>
    <Product
        Id='*'
        Name='ALVR'
        UpgradeCode='DBB5E47A-11A3-4A11-AF7E-4711EEBD2AF5'
        Manufacturer='alvr-org'
        Language='1033'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Manufacturer='alvr-org'
            InstallerVersion='500'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <MediaTemplate EmbedCab='yes'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder'>
                <Directory Id='APPLICATIONFOLDER' Name='ALVR'>
                    <Component Id='LicenseAndPermissions' Guid='*'>
                      <File Id='LicenseFile' 
                          Name='LICENSE'
                          Source='LICENSE'
                          KeyPath='yes'/>
                      <CreateFolder>
                        <util:PermissionEx User="Users" GenericAll="yes"/>
                      </CreateFolder>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='MainProduct'
            Title='Application'
            ConfigurableDirectory='APPLICATIONFOLDER'
            Absent='disallow'>
            <ComponentRef Id='LicenseAndPermissions'/>
            <ComponentGroupRef Id="BuildFiles"/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <!-- TODO: include our icon here -->
        <!--<Icon Id='ProductICO' SourceFile='wix\Product.ico'/>-->
        <!--<Property Id='ARPPRODUCTICON' Value='ProductICO' />-->

        <Property Id='ARPHELPLINK' Value='https://alvr-org.github.io'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            
            <!-- Skip license screen for now -->
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>

        <!-- TODO: add a RTF license file -->
        <!-- <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/> -->
        
        <!-- TODO: include our banner here (493x58 px) -->
        <!--<WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>-->

        <!-- TODO: include our first page dialog image here (493x58 px) -->
        <!--<WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>-->
    </Product>
</Wix>
