<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ALVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ALVR.Properties.Settings>
            <setting name="bitrate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="bufferSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="enableController" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="controllerTriggerMode" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="controllerTrackpadClickMode" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="controllerTrackpadTouchMode" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="controllerRecenterButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useTrackingReference" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="debugLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoConnectList" serializeAs="String">
                <value />
            </setting>
            <setting name="debugCaptureOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useOffsetPos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offsetPosX" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="offsetPosY" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="offsetPosZ" serializeAs="String">
                <value>0.0</value>
            </setting>
            <setting name="disconnectCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="connectCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="enableSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="soundDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="trackingFrameOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="codec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="onlySteamVR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="suppressFrameDrop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controllerBackMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useDefaultSoundDevice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="force60Hz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resolutionScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="disableThrottling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controllerPoseOffset" serializeAs="String">
                <value>0.01</value>
            </setting>
        </ALVR.Properties.Settings>
    </userSettings>
</configuration>