<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true"
        android:version="1" />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false" />

    <uses-permission android:name="oculus.permission.handtracking" />
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />


    <application>
        <meta-data
            android:name="com.oculus.supportedDevices"
            android:value="quest|quest2" />

        <meta-data
            android:name="com.oculus.vr.focusaware"
            android:value="true" />

        <meta-data
            android:name="com.oculus.handtracking.frequency"
            android:value="HIGH" />

        <activity android:name="com.polygraphene.alvr.OvrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>