[package]
name = "alvr_xtask"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
alvr_filesystem.workspace = true

serde = { version = "1.0", features = ["derive"] }
serde_json = "1"
pico-args = "0.5"
xshell = "0.2"
walkdir = "2"

[target.'cfg(target_os = "linux")'.dependencies]
pkg-config = "0.3"
