<div class="row contentHeight">
    <div class="cm-md-1 contentHeight" id="monitorContainer">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#connection" id="connectionTab"><%= connection%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#statistics" id="statisticsTab"><%= statistics%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#logging" id="loggingTab"><%= logging%></a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane container active noselect" id="connection">
                <div class="newClientsList" id="newClientsDiv">
                    <div class="card" id="connectionCard">
                        <div class="card-header"><%= newClients%></div>
                        <div class="card-body">
                            <div>
                            <table style="width:100%;">
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trustedClientsList" id="trustedClientsDiv">
                    <div class="card" id="connectionCard">
                        <div class="card-header"><%= trustedClients%></div>
                        <div class="card-body">
                            <div>
                            <table style="width:100%;">
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addClientButtonDiv">
                    <button type="button" class="btn btn-primary" id="showAddClientModal"><%= manAddClient%></button>
                </div>
                <div id="troubleShootingDiv"><%= troubleshooting%></div>
            </div>
            <div class="tab-pane container fade" id="statistics">
                <div id="divStatisticsContent">
                    <h5 class="float-left mr-3"><%= performanceLatency%></h5>
                    <span class="badge badge-primary" style="background-color: #7f7f7f; "><%= performanceNetwork%></span>
                    <span class="badge badge-primary" style="background-color: #d62728; "><%= performanceRender%></span>
                    <span class="badge badge-primary" style="background-color: #ff7f0e; "><%= performanceIdle%></span>
                    <span class="badge badge-primary" style="background-color: #1f77b4; "><%= performanceTranscode%></span>
                    <div id="latencyGraphArea"></div>
                    <div class="mt-3"></div>
                    <h5 class="float-left mr-3"><%= performanceFramerate%></h5>
                    <span class="badge badge-primary" style="background-color: #1f77b4; "><%= serverFPS%></span>
                    <span class="badge badge-primary" style="background-color: #ff7f0e; "><%= clientFPS%></span>
                    <div id="framerateGraphArea"></div>
                    <div class="mt-3"></div>
                    <div class="card" id="statisticsCard">
                        <div class="card-body">
                            <table id="statisticsTable">
                                <tr>
                                    <td><%= totalPackets%>:</td>
                                    <td><div id="statistic_totalPackets">0</div> <%= packets%></td>
                                    <td><div id="statistic_packetRate">0</div> <%= packetss%></td>
                                </tr>
                                <tr>
                                    <td><%= packetsLostTotal%>:</td>
                                    <td><div id="statistic_packetsLostTotal">0</div> <%= packets%></td>
                                    <td><div id="statistic_packetsLostPerSecond">0</div> <%= packetss%></td>
                                </tr>
                                <tr>
                                    <td><%= totalSent%>:</td>
                                    <td><div id="statistic_totalSent">0</div> MB</td>
                                    <td><div id="statistic_sentRate">0</div> Mbps</td>
                                </tr>
                                <tr>
                                    <td><%= bitrate%>:</td>
                                    <td><div id="statistic_bitrate">0</div> Mbps</td>
                                </tr>
                                <tr>
                                    <td><%= ping%>:</td>
                                    <td><div id="statistic_ping">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= totalLatency%>:</td>
                                    <td><div id="statistic_totalLatency">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= encodeLatency%>:</td>
                                    <td><div id="statistic_encodeLatency">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= transportLatency%>:</td>
                                    <td><div id="statistic_sendLatency">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= decodeLatency%>:</td>
                                    <td><div id="statistic_decodeLatency">0</div> ms</td>
                                </tr>
                                <tr>
                                    <td><%= fecPercentage%>:</td>
                                    <td><div id="statistic_fecPercentage">0</div> %</td>
                                </tr>
                                <tr>
                                    <td><%= fecFailureTotal%>:</td>
                                    <td><div id="statistic_fecFailureTotal">0</div> <%= packets%></td>
                                    <td><div id="statistic_fecFailureInSecond">0</div> <%= packetss%></td>
                                </tr>
                                <tr>
                                    <td><%= clientFPS%>:</td>
                                    <td><div id="statistic_clientFPS">0</div> fps</td>
                                </tr>
                                <tr>
                                    <td><%= serverFPS%>:</td>
                                    <td><div id="statistic_serverFPS">0</div> fps</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card" id="statisticsCard">
                        <div class="card-body">
                            <table id="statisticsTable">
                                <tr>
                                    <td style="width: auto;"><%= batteries%>:</td>
                                    <td><%= headset%> <div id="statistic_batteryHMD">0</div> %</td>
                                    <td><%= left%> <div id="statistic_batteryLeft">0</div> %</td>
                                    <td><%= right%> <div id="statistic_batteryRight">0</div> %</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane container fade" id="logging">
                <table id="loggingTable">
                </table>
            </div>
        </div>
    </div>
</div>
